<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:fragment="partials/_head_basic" />
    <title> index </title>
</head>
<body>
<div style="width:50vw;margin:auto">
    <h2>Welcome <span th:text="${user.getUsername()}"></span> <form th:action="@{/logout}" th:method="post">
        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
    </form></h2>
    <br />
    <br />
    <h3>My Posts:</h3>
    <div style="width:40vw;margin:auto;padding:10px;height:60vh;overflow: auto">
        <div th:each="post,iter : ${user.myPosts}" >
            <h3 th:text="${post.getTitle()}"></h3>
            <a th:href="@{/posts/{id}(id = ${post.id})}"> view</a>
            <a href="#" th:href="@{/posts/delete/{id}(id = ${post.id})}" th:method="GET"> delete</a><br />

        </div>
    </div>
    <br />
    <a th:href="@{posts/create}"><button>create a new post</button></a>
</div>


<footer th:fragment="partials/footer"></footer>
<div th:fragment="partials/scripts"></div>



</body>
</html>